name: Keep Render API Warm

on:
  schedule:
    - cron: '*/30 * * * *' # every 5 minutes
  workflow_dispatch:

jobs:
  ping-api:
    runs-on: ubuntu-latest
    steps:
      - name: Curl public endpoint
        run: curl --silent --show-error --fail --location https://bible-edge.onrender.com/verses/1
